<div class="header">
    <div class="header-content">
        <h1 class="header-title">
            Documents
        </h1>
        <div class="header-end">
            <div class="add">
                <button class="add-button" (click)="toggleAddModal()"><i class="fal fa-plus"></i></button>
                <span class="add-text">Create form</span>
            </div>

        </div>

    </div>
</div>
<div class="add-modal" *ngIf="addModalOpen">
    <div class="overlay-add" (click)="toggleAddModal()"></div>
    <div class="modal-content-add">
        <h1 class="message">Create new document</h1>
        <form class="form-group">
            <div class="fields">
                <label htmlFor="category" class="method">Field:</label>
                <select id="type" name="type" class="form-control" [(ngModel)]="type">
                    <option disabled selected value=''> Select field type </option>
                    <option value="Text">Text</option>
                    <option value="Number">Number</option>
                </select>
                <label htmlFor="field-name" class="method">Field name:</label>
                <input type="text" name='name' [(ngModel)]="name" />
                <button class="add-button" (click)="addField()"><i class="fal fa-plus"></i></button>

            </div>
            <ul class="field-list list-none text-center mt-6">
                <li *ngFor="let field of fields; let i = index"
                    class="field-item flex justify-between items-center border border-gray-300 p-4 mb-4 rounded-lg">
                    <span class="field-text text-xl">field: {{ field.name }} type: {{field.type}}</span>
                    <button (click)="removeField(i)"
                        class="remove-btn bg-red-500 text-white p-2 rounded-lg cursor-pointer text-lg hover:bg-red-600">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
            <input type="submit" />
        </form>
    </div>
    <div class="documents">
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>
        <div class="document-card">
            <div class="document-title">
                Document name

            </div>
        </div>

    </div>