<div class="header">
    <div class="header-content">
        <h1 class="header-title">
            Organization Name
        </h1>
        <div class="header-end">
            <div class="add">
                <button class="add-button"><i class="fal fa-plus"></i></button>
                <span class="add-text">Add employee</span>
            </div>
            <div class="employees">
                <span class="employee-count">0</span>
                <span class="employee-text">Employees</span>
            </div>
        </div>

    </div>
</div>