<div class="header">
    <div class="header-content">
        <h1 class="header-title">
            Documents
        </h1>
        <div class="header-end">
            <div class="add">
                <button class="add-button"><i class="fal fa-plus"></i></button>
                <span class="add-text">Create form</span>
            </div>

        </div>

    </div>
</div>
<div class="documents">
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>
    <div class="document-card">
        <div class="document-title">
            Document name

        </div>
    </div>

</div>