.header {
    flex: 1 1 100%;
    padding: 1rem;
    background-color: #ffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2%;
}


.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    font-weight: 500;
    align-self: center;
    font-size: 3vh;
}


.header-end {
    display: flex;
    gap: 20%;
    align-self: center;

}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.1vh;
}

.add-button {
    padding: 10px 15px;
    background-color: #99edc3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2vh;

}

.add-button:hover {
    cursor: pointer;
}

.add-text {
    display: inline-block;
    margin-top: 1vh;
    color: #555;

}


.documents {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-top: 2%;
    gap: 2%;
    overflow: auto;
    max-height: 70%;

}

.document-card {
    background-color: #ffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2%;
    width: 25vh;
    height: 25vh;
    cursor: pointer;
    padding-top: 6%;

}

.document-card:hover {
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.596);

}

@media (min-width: 768px) {
    .document-card {
        flex-basis: calc(50% - 2%);
        max-width: calc(25% - 2%);
        margin-bottom: 2%;
    }
}


.document-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;

}



.modal-content-add {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 4px 28px;
    border-radius: 3px;
    max-width: 80vh;
    min-width: 80vh;
    max-height: 40rem;
    height: 40rem;
    width: 70vh;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    z-index: 99;



}

.overlay-add {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(26, 25, 25, 0.342);
    z-index: 2
}

.message {

    padding-top: 5vh;
    width: 70vh;
    color: black;
    font-size: 30px;
    margin-bottom: 1rem;

}



.fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    position: absolute;
    bottom: 1rem;
    width: 94%;
    text-align: center;

}


input[type="submit"] {
    background-color: #008080;
    color: white;
    border: none;
    padding: 3% 6%;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.next {
    background-color: #008080;
    color: white;
    border: none;
    padding: 3% 6%;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

.clear {
    background-color: #f4d35e;
    color: white;
    border: none;
    padding: 3% 6%;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.method {
    align-self: center;
}


.field-container {
    overflow: auto;
    max-height: 22rem;

}

.field-text {
    margin-right: 1rem;
}


.field-list {
    list-style: none;
    margin-top: 1.5rem;
    text-align: center;
    padding-left: 0;
}

.field-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.field-item:hover {
    background-color: #f0f0f0;
}

.remove-btn {
    background-color: #7c0a02;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.name-field {
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0.5rem;

}

.type-picker {
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0.5rem;

}


.docName {

    position: relative;
    width: 100%;
    height: 40vh;

}

.document-name {
    padding-left: 1%;
    padding-right: 1%;
    width: 60%;
    height: 4rem;
    border-radius: 0.5rem;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}


@media screen and (max-width: 768px) {

    .container {
        height: 40vh;
    }
}

.top {
    display: flex;
    justify-content: space-between;
}


.close {
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 15%;
    border: none;
    font-size: 24px;
    margin-top: 1rem;
}