<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">D</button>
        <div class="logo-text" *ngIf="collapsed">Dräxlmaier </div>
        <button class="btn-close" *ngIf="collapsed">
            <i class="fal fa-times close-icon" (click)="closeNav()"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a [attr.id]="data.icon === 'fal fa-bell' || data.icon === 'fal fa-file' ? 'sidenav-nav-link' : 'sidenav-nav-link-top'  "
                class="navlink" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-nav-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
        <li class="sidenav-nav-item" id="logout" (click)="logout()"> <a id="sidenav-nav-link-log" class="navlink"> <i
                    class="sidenav-nav-icon" [class]="logoutIcon"></i>
                <span class="sidenav-link-text-log" *ngIf="collapsed">Log out</span>
            </a>
        </li>
        <span class="footer" *ngIf="collapsed">Powered by HR-OPs</span>

    </ul>




</div>