<div class="header">
    <div class="header-content">
        <h1 class="header-title">
            Organization Name
        </h1>
        <div class="header-end">
            <div class="add">
                <button class="add-button"><i class="fal fa-plus"></i></button>
                <span class="add-text">Add employee</span>
            </div>
            <div class="employees">
                <span class="employee-count">0</span>
                <span class="employee-text">Employees</span>
            </div>
        </div>

    </div>
    <div class="delete-modal" *ngIf="deleteModalOpen">
        <div class="overlay-delete" (click)="toggleDeleteModal()"></div>
        <div class="modal-content-delete">
            <h1 class="message">Are you sure you want to delete this employee?</h1>
            <button class="close-modal-button-yes ">
                Yes
            </button>
            <button class="close-modal-button-no" (click)="toggleDeleteModal()">
                No
            </button>
        </div>
    </div>
</div>
<div class="content">
    <h1 class="content-title">Employees</h1>
    <div class="employee-table">
        <table>
            <thead class="columns">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="rows">
                <tr>
                    <td>#1</td>
                    <td>Alaa Ben Nasr</td>
                    <td>alaa&#64;gmail.com</td>
                    <td>Employee</td>
                    <td>IT</td>
                    <td>
                        <button class="edit fal fa-pen">

                        </button>
                        <button class="delete fal fa-trash" (click)="toggleDeleteModal()">

                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>#1</td>
                    <td>Alaa Ben Nasr</td>
                    <td>alaa&#64;gmail.com</td>
                    <td>Employee</td>
                    <td>IT</td>
                    <td>
                        <button class="edit fal fa-pen">

                        </button>
                        <button class="delete fal fa-trash" (click)="toggleDeleteModal()">

                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>