<div class="data">
    <div class="data-card">
        <dl class="card-content">
            <dt class="card-title">
                Total Requests
            </dt>

            <dd class="card-info">
                0
            </dd>
        </dl>
    </div>
    <div class="data-card">
        <dl class="card-content">
            <dt class="card-title">
                Total Approved
            </dt>

            <dd class="card-info">
                0
            </dd>
        </dl>
    </div>
    <div class="data-card">
        <dl class="card-content">
            <dt class="card-title">
                Total Declined
            </dt>

            <dd class="card-info">
                0
            </dd>
        </dl>
    </div>
    <div class="data-card">
        <dl class="card-content">
            <dt class="card-title">
                Total Pending
            </dt>

            <dd class="card-info">
                0
            </dd>
        </dl>
    </div>
</div>

<div class="overview">
    <div class="page-overview">
        <dl class="overview-content">
            <dt class="overview-title">
                Organization
            </dt>

            <dd class="overview-info">
                Brief organization overview.


            </dd>
        </dl>
    </div>
    <div class="page-overview">
        <dl class="overview-content">
            <dt class="overview-title">
                Requests
            </dt>

            <dd class="overview-info">
                Brief requests overview.
            </dd>
        </dl>
    </div>
    <div class="page-overview">
        <dl class="overview-content">
            <dt class="overview-title">
                Documents
            </dt>

            <dd class="overview-info">
                Brief documents overview.
            </dd>
        </dl>
    </div>
</div>